pathlib==1.0.1
scandir==1.6
h5py==2.7.1
Keras==2.1.2
scikit-image
dlib
face_recognition
youtube-dl
moviepy
numpy==1.14.0
tqdm
pydot
graphviz
tensorflow-gpu==2.7.2
scandir==1.6
dictionary
tqdm
pyfakewebcam
opencv-python==3.4.0.12